.play-button {
    width: 100px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    height: 100%;
    background-color: #7B8D93;
    color: #fff;
    &:active,
    &:focus {
        outline: none;
    }
    &:disabled {
        opacity: 0.5;
    }
}