@mixin border($border) {
    $border: 1px solid #CFD8DC;
}

.item {
    width: 30px;
    height: 30px;
    @include border('border-right');
    @include border('border-bottom');
    box-sizing: border-box;
}

.table {
    display: flex;
    flex-wrap: wrap;
    @include border('border-top');
    @include border('border-left');
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}